# Drizzle (PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/caroline

ORIGIN=http://localhost:5173

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GH_CLIENT_ID=""
GH_CLIENT_SECRET=""

# OpenRouter (https://openrouter.ai/keys)
OPENROUTER_API_KEY=""
