# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Build & Generated
/static/
/drizzle/
/.svelte-kit/
/build/
/src/lib/paraglide/
/src/paraglide/
/project.inlang/cache/

# Miscellaneous
